/* Help*/
body {
    direction: ltr;
    font-family: 'Open Sans', BlinkMacSystemFont, -apple-system, Roboto, 'Segoe UI', sans-serif;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left
}

.logo-help, .help-box .help-content.text-box .search-for-help .row > div {
    float: left;
}

.help-header ul {
    float: right;
}


.search-for-help input[type="text"] {
    padding: 15px 100px 12px 19px;
}

.white-box-print-content p {
    text-align: left;
    float: left;
    font-size: 16px;
}

.download-link {
    float: right
}

.search-btn {
    left: auto;
    right: 0;
    border-radius: 0 5px 5px 0;
}

.help-content .search-for-help h2, .study-time ul li, .head-col-event, .content-col-event ul li {
    text-align: left
}

.input-search svg {
    left: auto;
    right: 13px;
}
/* Help*/


/*Main index*/
@media (min-width: 768px) {
    .links-item {
        left: auto !important;
        right: 0 !important;
    }

        .links-item li a svg {
            margin-top: -4px;
        }
}

.sign-header h1 {
    font-size: 62px;
}

@media (min-width: 992px) {

    .dropdown-container {
        right: auto;
        left: 0;
    }

    .btn-menu {
        right: 33px;
        top: 42px;
        left: auto;
    }

    #accordian ul ul li a {
        text-align: left;
    }

    #accordian .list-nav ul li a {
        padding: 8px 32px 4px 13px;
    }

    .dropdown-container .dropdown-container {
        left: 100%;
        right: 0;
    }

    .content-navigation-menu a span {
        font-weight: 500 !important;
        font-size: 17px !important;
    }

    .list-nav > li a svg {
        font-size: 18px;
        margin-top: -5px;
    }

    .list-nav > li {
        margin: 0px 5px;
    }
}

.white-box p {
    text-align: left;
    font-size: 18px;
}

.btn-more > svg {
    margin-top: -2px;
}

.center-detail-box p {
    font-size: 19px;
    text-align: left
}

.center-detail-box h3, .gray-box .center-detail-box h3 {
    text-align: left;
    font-size: 45px;
    margin-top: -7px;
}

.white-box .row label {
    font-weight: 500;
    font-size: 24px;
}

.gray-box > .container > .row > div:nth-child(odd) > div:first-child {
    float: right
}

@media (min-width: 1440px) {
    .banner-item h2 {
        font-size: 56px;
        font-weight: 500;
    }

    .bottom-banner p, .banner-item p {
        font-size: 18px;
    }

    .items-section-title h3, .white-box-contnet h3, .gray-box h3 {
        font-weight: 300;
        color: #000000;
        font-size: 40px;
    }
}

.flash-footer h2 {
    font-weight: 300;
    text-align: left;
    font-size: 30px !important;
}

.resource-box h4 {
    float: left;
    text-align: left;
    font-size: 24px;
    width: 71%;
}

.resource-bottom-text {
    float: left;
    font-size: 39px;
}

.resource-box-content > .row > div:last-child {
    margin-top: -161px;
}

@media(max-width: 992px) {

    .list-nav > li:first-child {
        position: fixed;
        top: 9px;
        right: auto;
        width: auto;
        left: 39px;
    }
}

.button-subscribe svg {
    margin: -2px 3px 0 0;
}

.white-footer-box ul li a span {
    font-size: 16px;
    margin-left: 0;
}

.btn-blue-small, .content-item-tutorials .button-row a {
    float: left
}

    .btn-blue-small:first-child, .content-item-tutorials > a:first-child {
        margin: 0px 5px;
        margin-left: 0
    }

.button-row .btn-blue-small:first-child {
    margin: 10px 5px;
    margin-left: 0
}

.text-box p {
    font-size: 19px;
}

.white-footer-box ul li a svg {
    margin: -3px 5px 0 0px;
}

.list-nav > li:first-child {
    margin-left: 0;
    margin-right: 30px;
}

footer ul li span {
    font-weight: 500;
    margin-left: 5px;
    font-size: 14px;
}


/*Lesson-box*/
.items-detail-calendar li > * {
    font-size: 15px;
}

.calendar-days .submenu a svg {
    margin: -3px 5px 0 0;
}

.lesson-header-text, ul.tabs-item li a, .flash-footer p, #content-tabs .teachers-calendar p, .items-detail-calendar li > *, .calendar-days .submenu a {
    text-align: left
}


ul.tabs-item li a {
    padding: 15px 0 0 15px;
}

ul.tabs-item li, .controls, .calendar-days > li .link ul, .accordion .link, .lesson-collection, .white-box-print-head label {
    float: left
}

.calendar-date {
    position: absolute;
    right: auto;
    left: 0;
}

.calendar-days .link ul span {
    margin-right: 0;
    margin-left: 45px
}

.calendar-days li .link svg {
    left: auto;
    right: -28px;
    transform: rotate(270deg);
}

.submenu a {
    padding-left: 0;
    padding-right: 42px
}

.calendar-days .submenu a span {
    margin-right: 0;
    margin-left: 15px;
}

.sorted-box > .controls:first-child {
    margin: 0;
    margin-right: 35px;
}

.wrap ul.tabs-item li a svg {
    margin: -4px 5px 0 7px;
}

.flash-footer .button-subscribe {
    padding: 10px 13px;
    font-size: 16px;
    margin: 9px;
}

.calendar-days .submenu {
    padding-right: 0px;
    padding-left: 60px;
}

.accordion li .link.sub-opend svg {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
/*Lesson-box*/
.message-panel .message-panel-body {
    margin-right: 0;
    margin-left: 100px
}

.message-panel {
    float: left;
    padding: 8px 86px 0 10px
}

#content-tabs .message-panel p {
    padding: 0;
    text-align: left;
    font-size: 18px;
}

#content-tabs .message-panel span {
    padding-left: 7px;
    float: left;
}

    #content-tabs .message-panel span:before {
        left: auto;
        right: 100%
    }

.message-panel img {
    right: auto;
    left: 30px;
}

.lesson-collection-item > ul li {
    display: inline-block;
    margin: 3px 10px 0px 0;
}


.path-category li:before {
    top: 4px;
    left: 3px;
    transform: rotate(180deg);
}

.options-button .tabs li:first-child a {
    border-radius: 6px 0 0 6px
}

.options-button .tabs li:last-child a {
    border-radius: 0 6px 6px 0;
}

svg {
    margin: -4px 3px 0 0px
}

.lesson-detail-box-detail {
    padding-right: 0;
    padding-left: 40px;
}

    .lesson-detail-box-detail p {
        font-size: 16px;
    }

.white-box-print-content .big-blue-button:first-child {
    margin-left: 0;
    margin-right: 10px;
}

.white-box-print-head label svg {
    margin: 0px 6px 3px 0;
}

.big-blue-button {
    float: left;
}

.banner-sign-item img {
    float: left
}

.banner-sign-item h4 {
    width: auto;
    display: inline-block;
    margin-left: 17px;
    margin-right: 0;
    margin-right: 0;
    float: left;
}

.input-control input[type="text"], .input-control input[type="email"], .input-control input[type="password"], .input-control select, .input-control textarea {
    padding: 25px 0 10px 49px;
    float: left;
}

.input-control svg {
    right: auto;
    left: 15px;
}

.input-control span {
    right: auto;
    left: 51px;
}

.input-control > label input[type="checkbox"], .input-control > label {
    float: left;
    margin-left: 7px;
}

.seBear {
    left: auto;
    right: 0
}

@media (min-width: 1024px) {
    .list-nav > li a span, .links-item > li a span {
        margin: -3px 5px 0px 2px;
        display: inline-block;
    }
}

.btn-blue-small svg {
    margin: -4px 6px 0 -4px;
}

.input-control > label span {
    margin: 2px 11px;
    font-size: 20px;
}

.text-box [class^="col"] > span {
    font-size: 55px;
    text-align: left;
    font-weight: 300;
}

.items-tutorials a {
    font-size: 35px;
    font-weight: 300 !important;
}

.de-title a, .de-title {
    font-weight: 500 !important;
    font-size: 15px;
}

.content-item-tutorials {
    padding: 0
}

    .content-item-tutorials p {
        font-size: 19px;
        font-weight: normal;
        line-height: normal;
    }

    .content-item-tutorials .button-row a svg {
        margin-left: 5px;
        transform: rotate(180deg)
    }

.items-tutorials a span {
    font-weight: 500 !important
}

.text-box .flash-card-box .row > div {
    float: left
}

.link > img {
    left: 0;
    right: auto
}

.accordion li .link svg {
    right: -16px;
    font-size: 15px;
    left: auto;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.link span {
    margin: 0px 0px 0px 40px;
    float: left;
    font-size: 25px;
}

    .link span.count-card {
        font-size: 13px;
        font-weight: normal;
    }

.submenu li > div {
    text-align: left;
    float: left;
    font-size: 18px;
}

.text-box.light-blue h1 {
    margin: 42px 0;
    font-size: 53px;
}
