body {
    background: #fff;
}

.banner-item h2 {
    color: #252525;
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 700;
}

main {
    margin-top: 55px;
}

.banner-item {
    min-height: 500px;
    float: right;
    width: 100%;
    background-color: #E6D420;
    text-align: center;
}

.items-section {
    text-align: center;
    margin: auto;
    display: block;
    float: right;
    width: 100%;
    padding-top: 55px;
}

.white-box img {
    min-height: 60px;
    height: 80px;
    width: auto;
    margin: auto;
}

.center-detail-box p, .center-detail-box-3 p, .center-detail-box-4 p {
    width: 80%;
    margin: auto;
}

.center-detail-box, .center-detail-box-3, .center-detail-box-4 {
    text-align: center;
    float: none;
    margin: auto;
    background-repeat: no-repeat;
    padding-top: 250px;
    background-position: top;
    background-size: 100%;
    background-image: url('../../../Content/Image/img-bg-2.png');
}

.center-detail-box-3 {
    background-image: url('../../../Content/Image/img-bg-3.png');
}

.center-detail-box-4 {
    background-image: url('../../../Content/Image/img-bg-4.png');
}

.white-box .row label {
    font-size: 18px;
    margin: 16px 0 4px 0;
}

.white-box .row {
    text-align: center;
}



@media(min-width: 768px) {
    .links-item {
        top: 7px;
        position: absolute !important;
        left: 0 !important;
    }

    .dropdown-container li a span {
        margin: 3px;
    }

    .dropdown-container li a span, .dropdown-container li a svg {
        font-size: 12px;
        font-weight: 500;
        color: #656565;
    }

    .dropdown-container li a svg {
        font-size: 13px;
    }

    .links-item li a svg {
        display: inline-block;
        font-size: 15px;
        margin-top: -2px;
    }

    .banner-item {
        padding-top: 25px;
        background-image: url(../../../Content/Image/img-bg-1.svg);
        background-repeat: no-repeat;
        background-position: 50% 80%;
    }

        .banner-item.bottom-banner {
            background-image: none !important;
            padding: 15px 0;
            height: auto;
            min-height: inherit;
        }
}

.bottom-banner p, .banner-item p {
    text-align: center;
}

.white-box {
    float: right;
    width: 100%;
    float: right;
    margin: 40px 0;
}

.white-box-contnet span {
    font-size: 35px;
    font-weight: 200;
}

.white-box-contnet p {
    text-align: justify;
}

@media(min-width: 992px) {
    .banner-top-content, .white-box-contnet {
        float: none;
        margin: auto;
        padding: 25px;
        text-align: center;
    }
}

.bottom-center-item img {
    min-height: 80px !important;
    height: 80px !important;
    width: auto !important;
}

.items-section-title h3, .white-box-contnet h3, .gray-box h3 {
    font-size: 28px;
    width: 100%;
    margin: 27px auto;
    font-weight: 300;
    text-align: center;
    color: #3e3e3e;
}

p {
    text-align: justify;
}

.white-box .items-section-content .row label {
    margin: 3px 0 4px 0;
}

.gray-box {
    background: #F6F6F6;
    padding: 40px 0;
    float: right;
    width: 100%;
}

.btn-more span {
    font-weight: 600;
    vertical-align: middle;
    margin: -1px 6px;
    float: left;
    font-size: 15px;
}

.btn-more {
    border: 2px solid #383838;
    padding: 6px 17px 6px 10px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    display: inline-block;
    margin: 30px 0;
}


    .btn-more:hover, .btn-more:focus, .btn-more:active {
        color: #383838;
        box-shadow: inset 0px 0px 0 1px #4e4e4e;
    }

.br-items {
    content: "";
    display: block;
    border-top: 2px solid #e6d420;
    width: 30%;
    margin-bottom: 4px;
    margin: 15px auto;
    margin-bottom: 50px;
}

.resource-box {
    padding: 0 50px;
}

    .resource-box h4 {
        text-align: right;
        width: 50%;
        line-height: 1.7;
        float: right;
        display: block;
        color: #3c3c3c;
        font-weight: 400;
    }

.resource-bottom-text {
    font-weight: 200;
    font-size: 25px;
    float: right;
}

.resource-box-content > .row > div:last-child {
    margin-top: -60px;
}

.button-subscribe, .button-subscribe:hover, .button-subscribe:focus, .button-subscribe:active {
    background: #FAF6D2;
    padding: 12px;
    margin: 15px 2px;
    padding: 16px 20px;
    display: inline-block;
    color: #444;
    transition: all .3s ease-in-out;
    border-radius: 5px;
}

    .button-subscribe:hover, .button-subscribe:focus, .button-subscribe:active {
        background: #fff;
    }

    .button-subscribe svg {
        margin-left: 6px;
    }

.button-subscribe-link {
    position: relative;
    text-decoration: none;
    color: #303030;
    margin: 18px;
    display: inline-block;
}

    .button-subscribe-link:after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        border-top: 1px solid #303030;
        left: 0;
        right: 0;
        margin: auto;
    }

.download-box img {
    max-width: 130px;
}

.download-box ul li:first-child img {
    max-width: 100px;
}

.download-box ul li {
    margin: 8px 0;
}

.white-footer-box {
    float: right;
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 45px;
}

.links-item {
    float: left;
    padding-top: 11px;
    width: auto !important;
    max-width: max-content !important;
}

    .links-item ul {
        display: block !important;
        width: 100%;
        position: unset;
    }

    .links-item li {
        margin: 0 7px;
        width: auto !important;
        display: inline-block !important;
    }

.white-footer-box label {
    color: #636363;
    font-weight: 500;
    margin-bottom: 30px;
}

.white-footer-box ul li {
    margin: 6px 0px;
    color: #656565;
    font-size: 13px;
}

    .white-footer-box ul li a svg {
        font-size: 12px;
    }

.links-item > .dropdown-container li a {
    padding: 4px 11px !important;
}

.btn-register-navbar {
    border-radius: 7px;
    background: #5774fc;
    color: #fff;
}

    .btn-register-navbar span, .btn-register-navbar svg {
        color: #fff !important;
    }

footer {
    padding: 50px 11%;
    background-color: #231F20;
    float: right;
    width: 100%;
}

    footer img {
        width: 100px;
    }

    footer a, footer span, footer label, footer h5 {
        color: #fff;
    }

    footer h5 {
        margin-bottom: 18px;
    }

    footer label {
        display: block;
        font-weight: normal;
        margin: 20px 0;
    }

    footer ul li svg {
        font-size: 12px !important;
        margin: 5px 0px 7px 6px;
    }

    footer ul li span {
        font-size: 12px;
    }

    footer a svg, footer a span, .dropdown-container li a span, .dropdown-container li a svg {
        transition: all .3s ease-in-out;
    }

    footer a:hover span, footer a:hover svg, .dropdown-container li a:hover span, .dropdown-container li a:hover svg {
        color: #425fe6 !important;
    }

    footer ul li {
        margin: 5px 0;
    }

@media(max-width: 768px) {
    main {
        margin-top: 0;
        overflow: hidden;
    }

    .banner-item {
        min-height: inherit;
        padding: 21px 5px;
    }

        .banner-item h2 {
            font-size: 31px;
        }

    .white-box img {
        margin-top: 50px;
    }

    .items-section-content p {
        padding: 11px;
    }

    .center-detail-box, .center-detail-box-3, .center-detail-box-4 {
        padding-top: 160px;
    }

    .resource-box h4 {
        width: 100%;
        text-align: justify;
        font-size: 14px;
    }

    .resource-box-content > .row > div:last-child {
        margin-top: 35px;
    }

    .resource-bottom-text {
        font-size: 18px;
    }
}
